/* MAIN STYLES */

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

* {
	-webkit-font-smoothing: antialiased;
}

::selection {
	background: #222;
	color: #fff;
}

body {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	color: #777;
	background: #fff;
	text-align: center;
}

/* previous style ----color: #6b7381*/

/*-- HEADER --*/

#top {
	display:block;
	background-color: #fff;
	width: 100%;
	height: 85px;
}


#headerlinks {
	width: 65%;
	max-width: 1000px;
	position: relative;
	margin: 0 auto;
}

#headerlinks img{
	float: left;
	margin-top: 30px;
}


#logo {
	position: relative;
	height: 430px;
	background-color: #222;
	display: block;
	top: 0px;
}

#logoimg {
	position: relative;
	height: 400px;
	background-image: url("../img/custom-white.png");
	background-position: center;
	background-repeat: no-repeat;
	top: 13px;
}

/* NAV */

#nav {
	list-style-type: none;
	padding: 5px;
	margin-top: 30px;
	float: right;
}

#nav li {
	display: inline;
	padding: 20px;
}

#nav li a {
	text-decoration: none;
	color: #222;
	font-size: .8em;
	font-weight: 700;
	font-family: 'Lato', Helvetica, sans-serif;
}

#nav li a:hover {
	color: #222;
	text-decoration: line-through;
}

/* ABOUT */

#about {
	position: relative;
	display: block;
	background-color: #eee;
	height: 230px;
	width: 100%;
	font-family: "Droid Serif", Helvetica, Arial, sans-serif;
	line-height: 1.5;
	top: 0px;
	border-bottom: 1px solid #ddd;
}

#arrowlines {
	position: relative;
	height: 20px;
	/*background-image: url("../img/arrow-lines.png");*/
	background-position: center;
	background-repeat: no-repeat;
	top: 30px;
}

#about p {
	display: block;
  text-align: center; 
	position: relative;
	top: -22px;
	width: 65%;
	max-width: 900px;
	font-size: 1.3em;
	text-align: center;
	margin: 70px auto;
}



/* VIEW WORK */


#view {
	display: inline-block;
	position: relative;
	top: -50px;
	background-color: #fff;
	padding: .6em 1em;
	color: #000;
	font-family: 'Droid Serif', Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: .9em;
	text-decoration: none;
	border-radius: 10px;
	border-top: 1px solid #ddd;
}

#view a {
	position: relative;
	text-decoration: none;
	left: 5px;
}

#view:hover {
	-webkit-transition: background-color 0.3s;
}

#view a:active {
	text-decoration: none;
	color: #888;
}

#view-work a:hover img.arrow {
	position: relative;
  top: 6px;
  -webkit-transition-property: top;
  -moz-transition-property: top;
  -o-transition-property: top;
  transition-property: top;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}

#view-work a img.arrow {
	margin-top: 10px;
}
/*
#line {
	position: relative;
	top: 70px;
	width: 100%;
	margin: 0 auto;
	height: 1px;
	background-color: #000;
}*/






/*---MASONRY / PORTFOLIO---*/

#portfolio {
		margin: 5px auto;
		max-width: 1480px;

}


.grid {
	top: -10px;
	max-width: 70em;
	list-style: none;
	margin: 30px auto;
	padding: 0;
}

.grid li {
	display: block;
	float: left;
	padding: 7px;
	width: 33%;
	opacity: 0;
	margin-top: 65px;
}

.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
	opacity: 1;
}

.grid li a,
.grid li img {
	outline: none;
	border: none;
	display: block;
	max-width: 100%;
}


.grid.effect li.animate {
	-webkit-transform: translateY(200px);
	-moz-transform: translateY(200px);
	transform: translateY(200px);
	-webkit-animation: moveUp 0.65s ease forwards;
	-moz-animation: moveUp 0.65s ease forwards;
	animation: moveUp 0.65s ease forwards;
}

@-webkit-keyframes moveUp {
	to { -webkit-transform: translateY(0); opacity: 1; }
}

@-moz-keyframes moveUp {
	to { -moz-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
	to { transform: translateY(0); opacity: 1; }
}

/*--Details Style--*/

ul.grid li .info {
 position: absolute;
 text-align: center;
 margin-top: 3px;
 left: 25%;
 width: 50%;
 font-family: "Droid Serif", Helvetica, Arial, sans-serif;
}

ul.grid li img:hover {
	opacity: 0.6;
	-webkit-transition: opacity 0.3s;
}

ul.grid li:hover .info {
	display: block;
}
 
ul.grid li h2 {
 font-size: 1em;
 font-weight: 400;
 margin: 0; padding: 10px 0;
 color: #000;
}
ul.grid li p {
	padding: 0; 
	margin-top: -8px; 
	font-size: 0.8em;
	color: #999;
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-weight: 400;
}









/* CONTACT SECTION */


#contact {
	clear: both;
	position: relative;
	display: block;
	background-color: #eee;
	border-top: 1px solid #ddd;
	height: 295px;
	width: 100%;
	font-family: "Droid Serif", Helvetica, Arial, sans-serif;
	line-height: 1.5;
	top: 100px;
}

#contact h3 {
	display: block;
  text-align: center; 
	position: relative;
	top: 30px;
	width: 85%;
	max-width: 1100px;
	font-size: 1.3em;
	text-align: center;
	margin: 70px auto;
	font-weight: 400;
}

#contact h3 a {
	text-decoration: none;
	color: #999;
}

#contact h3 a:hover {
	color: #ea4c89;
}


.btn {
	position: relative; 
	background-color: #555;
	top: -5px;
	padding: 15px 45px;
	border-radius: 7px;
	border-bottom: 3px solid #333;
	color: #fff;
	font-family: 'Droid Serif', Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-style: italic;
	text-decoration: none;
	-webkit-transition: color 0.3s;
	-webkit-transition: background 0.3s;
}

.btn a {
	text-decoration: none;
	color: #fff;
}


.btn:hover {
	background-color: #222;
	color: #fff;
	text-decoration: none;
	border-bottom: 3px solid #000;
	-webkit-transition: color 0.5s;
	-webkit-transition: background-color 0.5s;
	-webkit-transition: border-bottom 0.5s;
	
	
}

.btn a:active {
	text-decoration: none;
}

.btn:active {
	background-color: #333;
}







/* FOOTER */

footer{
	display:inline-block;
	width:100%;
	min-width:100%;
	padding-top:50px;
	padding-bottom:50px;
	min-height:350px;
	background:#222;
	color:#fff;
}

#livefree {
	position: relative;
	top: 65px;
	height: 200px;
	background-image: url('../img/livefree.png');
	background-repeat: no-repeat;
	background-position: center;


}

footer p {
	position: relative;
	margin-top: 100px;
	font-family: "Lato", Helvetica, Arial, sans-serif;
	color: #555;
}

footer img {
	position: relative;
	top: 4px;
}

footer p a {
	text-decoration: none;
	color: #777;
}

footer p a:hover {
	color: #444;
}






/*-- PROJECT PAGES --*/

#header-projects img {
	position: relative;
	margin-top: 30px;
}

#details h1 {
	position: relative;
	font-family: "Droid Serif", Helvetica, Arial, sans-serif;
	font-weight: 400;
	color: #000;
	margin-top: 50px;
}

#details span {
	padding: 5px;
}

.prompt {
	color: #000;
}


.promptinfo {
	color: #999;
}

.promptinfo a {
	color: #999;
	text-decoration: none;
}

.promptinfo a:hover {
	color: #000;
}

#description {
	display: block;
	position: relative;
	width: 45%;
	max-width: 665px;
	text-align: center;
	margin: 0 auto 20px;
}

#projectpics img {
	display: block;
	margin: 0 auto;
	padding: 10px;
}

#back-btn {
	margin: 65px auto 40px;
}


#back-btn a {
	position: relative;
	text-decoration: none;
	color: #999;
	text-align: center;
}

.arrow2 {
	position: relative;
	vertical-align: middle;
}

#back-btn a:hover img.arrow2 {
	position: relative;
  right: 6px;
  -webkit-transition-property: right;
  -moz-transition-property: right;
  -o-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}




/*---MEDIA QUERIES---*/

@media screen and (max-width: 900px) {
	.grid li {
		width: 50%;
	}
	#logo {
		width: 100%;
	}
	#top a img {
		width: 75%;
	}
}

@media screen and (max-width: 400px) {
	.grid li {
		width: 100%;
	}
	#logo {
		width: 100%;
	}
	#top a img {
		width: 75%;
	}
}

